@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
}

/* Luxury scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 20px;
}